<div class="absolute">
  <img
    src="https://assets.nflxext.com/ffe/siteui/vlv3/bfc0fc46-24f6-4d70-85b3-7799315c01dd/web/SG-en-20240923-TRIFECTA-perspective_e853e67b-653e-4e20-8768-9e9be87dc5f8_large.jpg"
    alt="hero-background"
  />
</div>
<div
  class="w-[30rem] absolute bg-black/80 my-36 mx-auto right-0 left-0 text-white rounded-lg"
>
  <div class="w-full h-full flex flex-col items-center justify-center p-12">
    <h1 class="font-bold text-xl pb-4">Netflix Sign In</h1>
    <div id="google-btn"></div>
  </div>
</div>
